.admin-container {
  display: flex;
  height: 100vh;
  background-color: #121212; /* Fondo muy oscuro */
  color: white;
  font-family: 'Montserrat', sans-serif;
  overflow: hidden;
}

/* SIDEBAR */
.sidebar {
  width: 250px;
  background-color: #121212; /* Ajustado al fondo total */
  display: flex;
  flex-direction: column;
  padding: 30px 20px;
  border-right: 1px solid #333;
  position: fixed; /* Fijo para que no se mueva */
  height: 100vh;
}

.sidebar-logo {
  font-family: 'Anton', sans-serif;
  font-size: 28px;
  color: #fff;
  margin-bottom: 50px;
  letter-spacing: 2px;
}

.sidebar-logo span {
  color: #2DD4BF; /* Turquesa */
}

.sidebar-nav {
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex-grow: 1;
}

/* Links del menú */
.nav-item {
  text-decoration: none; /* Quitar subrayado de NavLink */
  color: #888;
  text-align: left;
  padding: 12px 15px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 8px;
  transition: 0.3s;
  text-decoration: none; 
  display: block; /* Para que el enlace ocupe todo el recuadro */
}

/* Hover y Activo del menú */
.nav-item.active, .nav-item:hover {
  background-color: #2DD4BF;
  color: #000;
  font-weight: bold;
}

/* Botón inferior de Cerrar Sesión */
.logout-btn-f {
  background-color: #fff;
  color: #000;
  border: none;
  padding: 10px;
  font-weight: bold;
  cursor: pointer;
  margin-top: auto;
  border-radius: 4px;
}

/* CONTENIDO PRINCIPAL */
.main-content {
  flex-grow: 1;
  padding: 40px;
  margin-left: 250px; /* Espacio para la sidebar fija */
  overflow-y: auto;
}

.content-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}
.header-buttons {
  display: flex;
  gap: 15px;
}

.content-header h1 {
  font-size: 32px;
  font-weight: bold;
}

.header-buttons {
  display: flex;
  gap: 15px;
}

/* Contenedor de las tablas */
.dashboard-card {
  background-color: #1a1a1a;
  border-radius: 15px;
  padding: 20px;
  border: 1px solid #333;
}

/* Botones Turquesas */
.add-btn {
  background-color: #2DD4BF;
  border: none;
  padding: 12px 20px;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}
.add-btn:hover {
  transform: scale(1.05); /* Efecto visual al pasar el ratón */
  box-shadow: 0 0 10px rgba(45, 212, 191, 0.5);
}
.nav-item.active {
  background-color: #2DD4BF;
  color: #000;
  font-weight: bold;
}