/* Reset básico En este caso se deja limpio*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Tipografía base */
body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f4f4f4;
}
